body, html {
	margin: 0;
	background: radial-gradient(circle at 50% 50%,#11507c, #063b60, #002540)
}

.single-group {
	padding-left: 10px;
	padding-right: 10px;
}

.double-group {
	padding-left: 50px;
	padding-right: 50px;
}

.triple-group {
	padding-left: 100px;
	padding-right: 100px;
}

.content {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.device-group {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.device-button-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow:
		rgb(0 0 0 / 50%) 0px -10px 10px -10px;
}

.button-header {
	text-align: center;
	letter-spacing: .25px;
	font-weight: bold;
	color: #8fb4df;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	text-shadow: 2px 2px 10px #000000;
}

.btn { /* mostly Google's template from https://getcssscan.com/css-buttons-examples */
	align-items: center;
	appearance: none;
	background-color: #fff;
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
	box-sizing: border-box;
	color: #bfe4ff;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	justify-content: center;
	letter-spacing: .25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 70px;
	will-change: transform,opacity;
	margin-top: 5px;
	margin-bottom: 5px;
}
  
.btn:active {
	  background-color: #abc0d7;
	  outline: none;
	  box-shadow: none;
}
  
.btn:disabled {
	  background-color: #abc0d7;
}

.up {
	background-color: #4f94df;
	background-image: url('/img/up.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.stop {
	background-color: #0772bf;
	background-image: url('/img/stop.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.down {
	background-color: #005b9f;
	background-image: url('/img/down.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
}
